{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="container">
        {% for user in users %}
            <div class="user-card">
                <h4>Username: {{ user.username }} - ID {{ user.id }} </h4>
                <p>Email: {{ user.email }}</p>
                <p>Password: {{ user.password }}</p>
                <p>---------------------------------------</p>
                <!-- Add more user information as needed -->
            </div>
        {% endfor %}
        {% if users|length == 0 %}
            <p>No users found.</p>
        {% endif %}
    </div>
{% endblock %}
